@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="ads md:w-1/3 w-full h-fit md:p-7 mb-7 p-5 bg-[#f2f2f2] shadow-lg overflow-hidden">

  <div>
    <h4 class="tracking-wide border-black border-b-[1px] border-t-[1px] text-center p-3 text-xs font-semibold my-2">
      ABOUT
      ME</h4>
    <img src="/images/ad.jpg" class="m-auto my-6 w-full overflow-hidden" alt="Image">
    <p class="text-sm tracking-wide text-gray-600">Aliquam et elit eu nunc rhoncus viverra quis at felis et
      netus
      et malesuada fames ac turpis egestas. Aenean commodo ligula eget dolor.</p>
  </div>

  @* <div class="my-7 pb-7">
    <h4 class="tracking-wide border-black border-b-[1px] border-t-[1px] text-center p-3 text-xs font-semibold my-2">
      SUBSCRIBE</h4>
    <form action="/" method="post">
      <input type="email" name="subscribeEmail" id="subscribeEmail" placeholder="Enter your email"
        class="my-2 py-2 px-4 w-full text-sm italic outline-black border border-gray-400">
      <button type="button"
        class="px-4 py-2 text-sm text-white bg-gray-500 hover:bg-black duration-300">SUBSCRIBE</button>
    </form>
  </div> *@

  <div>
    <h4 class="tracking-wide border-black border-b-[1px] border-t-[1px] text-center p-3 text-xs font-semibold my-2">
      FOLLOW ME ON</h4>
    <div class="flex justify-center space-x-6 my-7 pb-5">
      <a href="https://www.linkedin.com/in/furqanahmad03" target="_blank" class="hover:scale-110 duration-300"><i
          class="fab fa-linkedin text-xl"></i></a>
      <a href="https://www.github.com/furqanahmad03" target="_blank" class="hover:scale-110 duration-300"><i
          class="fab fa-github text-xl"></i></a>
      <a href="mailto:hfurqan.se@gmail.com" target="_blank" class="hover:scale-110 duration-300"><i
          class="fas fa-envelope text-xl"></i></a>
      <a href="https://www.facebook.com/furqanahmad03" target="_blank" class="hover:scale-110 duration-300"><i
          class="fab fa-facebook text-xl"></i></a>
    </div>
  </div>

  @* <div>
    <h4 class="tracking-wide border-black border-b-[1px] border-t-[1px] text-center p-3 text-xs font-semibold my-2">
      POPULAR POSTS</h4>
    <div class="flex flex-col mt-7 mb-10 space-y-4">
      <div class="flex space-x-3 justify-start">
        <img src="/images/ad.jpg" class="h-16 w-20 bg-cover overflow-hidden" alt="">
        <div>
          <h5 class="text-sm font-semibold">Playing skateboard</h5>
          <p class="text-xs text-gray-400 italic my-1">July 22, 2025</p>
        </div>
      </div>

      <div class="flex space-x-3 justify-start">
        <img src="/images/ad.jpg" class="h-16 w-20 bg-cover overflow-hidden" alt="">
        <div>
          <h5 class="text-sm font-semibold">Playing skateboard</h5>
          <p class="text-xs text-gray-400 italic my-1">July 22, 2025</p>
        </div>
      </div>

      <div class="flex space-x-3 justify-start">
        <img src="/images/ad.jpg" class="h-16 w-20 bg-cover overflow-hidden" alt="">
        <div>
          <h5 class="text-sm font-semibold">Playing skateboard</h5>
          <p class="text-xs text-gray-400 italic my-1">July 22, 2025</p>
        </div>
      </div>
    </div>
  </div> *@

  <div class="my-7 pb-7 border-b-2 border-gray-500">
    <h4 class="tracking-wide border-black border-b-[1px] border-t-[1px] text-center p-3 text-xs font-semibold my-2">
      CATEGORIES</h4>
    <div class="p-4">
      <ul class="list-disc pl-5 space-y-1 text-sm">
        <a href="/filter?category=technology">
          <li class="hover:scale-105 duration-300 cursor-pointer">Technology</li>
        </a>
        <a href="/filter?category=fashion">
          <li class="hover:scale-105 duration-300 cursor-pointer">Fashion</li>
        </a>
        <a href="/filter?category=sports">
          <li class="hover:scale-105 duration-300 cursor-pointer">Sports</li>
        </a>
        <a href="/filter?category=international">
          <li class="hover:scale-105 duration-300 cursor-pointer">International</li>
        </a>
        <a href="/filter?category=politics">
          <li class="hover:scale-105 duration-300 cursor-pointer">Politics</li>
        </a>
      </ul>
    </div>

  </div>

</div>